body {
    box-sizing: border-box;
    background-color: antiquewhite;
}

.card-container {
    margin: 0 auto;
    display: grid;
    gap: 10px;

    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}


.book {
    display: grid;
    place-content: center;
    border: solid;
}

.modal {
    border: solid;
    width: 300px;
    height: 300px;
}