body {
    box-sizing: border-box;
    background-color: antiquewhite;
}

.card-container {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
}

.modal {
    display: block;

}



.book-card {
    border: solid;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hide {
    display: none;
}